.container {
    height: calc(100vh - 100px);
    display: flex;
  }
  
  .left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title{
    font-family: "Montserrat Medium";
  }
  
  .right {
    flex: 1;
    padding: 20px;
  }
  
  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }
  
  .price {
    color: black;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid black;
  }
  
  
  
  
  .number {
    position: absolute;
    top: -5px;
    right: -20px;
    background-color: teal;
    color: white;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
  }
  
  .quantity {
    width: 50px;
    height: 30px;
  }
  
  .button {
    height: 30px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }
  
  @media screen and (max-width: 480px) {
    .container {
      height: auto;
      text-align: center;
      flex-direction: column;
      margin-top: 20px;
    }
  
    .imgContainer {
      width: 70vw;
      height: 70vw;
    }
  
    .title {
      margin: 5px;
    }
  
  
    
  
    .quantity,
    .button {
      height: 50px;
      padding: 10px 20px;
    }
  }